<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Accounting.Properties.Settings.AccountingConnectionString1"
            connectionString="Data Source=.;Initial Catalog=Accounting;User ID=sa;Password=135468"
            providerName="System.Data.SqlClient" />
        <add name="Accounting.Properties.Settings.AccountingConnectionString"
            connectionString="Data Source=.;Initial Catalog=Accounting;User ID=sa;Password=135468"
            providerName="System.Data.SqlClient" />
        <add name="Accounting.Properties.Settings.AccountingConnectionString2"
            connectionString="Data Source=.;Initial Catalog=Accounting;User ID=sa;Password=135468"
            providerName="System.Data.SqlClient" />
        <add name="Accounting.Properties.Settings.AccountingConnectionString3"
            connectionString="Data Source=.;Initial Catalog=Accounting;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Accounting.Properties.Settings.AccountingConnectionString4"
            connectionString="Data Source=.;Initial Catalog=Accounting;Persist Security Info=True;User ID=sa;Password=135468"
            providerName="System.Data.SqlClient" />
        <add name="Accounting.Properties.Settings.AccountingConnectionString5"
            connectionString="Data Source=LAPTOP-LVNCBU44\SQLEXPRESS;Initial Catalog=Accounting;Persist Security Info=True;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
        <add name="Accounting.Properties.Settings.AccountingConnectionString6"
            connectionString="Data Source=.;Initial Catalog=Accounting;Persist Security Info=True;User ID=sa;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>